In [89]:
import requests
import pandas as pd

### Pokemon API
<br>The purpose of this mini project is just to pratice using public API by python. </br>
<br>https://pokeapi.co/</br>

In [250]:
main = {'id':[], 'name':[], 'hp':[],'atk':[], 'def':[], 'sp_atk':[], 'sp_def':[], 'speed':[]}
stats_col = ['hp','atk','def','sp_atk','sp_def','speed']
pk_types = dict()
# 30 pokemons
for i in range(1,31):
    # Request data of each pokemon
    url = "https://pokeapi.co/api/v2/pokemon/"+str(i)
    response =requests.get(url)
    result = response.json()
    pk_id = result['id']
    
    # Storing data
    main['id'].append(pk_id)
    main['name'].append(result['name'])
    for i, stat in enumerate(stats_col):
        main[stat].append(result['stats'][i]['base_stat'])
    pk_types[pk_id] = dict()
    pk_types[pk_id]['types'] = [pk_type['type']['name'] for pk_type in result['types']]
print('Done')

Done

In [265]:
# Prepare data to build right dataframe
# split pokemon types into 3 types of columns
dict1 = {'type_1':[], 'type_2':[]}
for value in pk_types.values():
    for i in range(2):
        try:
            n_type = f"type_{i+1}"
            dict1[n_type].append(value['types'][i])
        except IndexError:
            dict1[n_type].append('-')
print(dict1)

{'type_1': ['grass', 'grass', 'grass', 'fire', 'fire', 'fire', 'water', 'water', 'water', 'bug', 'bug', 'bug', 'bug', 'bug', 'bug', 'normal', 'normal', 'normal', 'normal', 'normal', 'normal', 'normal', 'poison', 'poison', 'electric', 'electric', 'ground', 'ground', 'poison', 'poison'], 'type_2': ['poison', 'poison', 'poison', '-', '-', 'flying', '-', '-', '-', '-', '-', 'flying', 'poison', 'poison', 'poison', 'flying', 'flying', 'flying', '-', '-', 'flying', 'flying', '-', '-', '-', '-', '-', '-', '-', '-']}

In [263]:
left_df = pd.DataFrame(main)
right_df = pd.DataFrame(dict1, index=pk_types.keys())
# Create total stats before merging two columns together
left_df['total'] = left_df[stats_col].sum(axis=1)
print(left_df.head())
print(right_df.head())

   id        name  hp  atk  def  sp_atk  sp_def  speed  total
0   1   bulbasaur  45   49   49      65      65     45    318
1   2     ivysaur  60   62   63      80      80     60    405
2   3    venusaur  80   82   83     100     100     80    525
3   4  charmander  39   52   43      60      50     65    309
4   5  charmeleon  58   64   58      80      65     80    405
  type_1  type_2
1  grass  poison
2  grass  poison
3  grass  poison
4   fire       -
5   fire       -

In [266]:
# merge two data frame together
full_df = left_df.merge(right_df, left_on='id', right_on=right_df.index)
full_df

,id,name,hp,atk,def,sp_atk,sp_def,speed,total,type_1,type_2
0,1,bulbasaur,45,49,49,65,65,45,318,grass,poison
1,2,ivysaur,60,62,63,80,80,60,405,grass,poison
2,3,venusaur,80,82,83,100,100,80,525,grass,poison
3,4,charmander,39,52,43,60,50,65,309,fire,-
4,5,charmeleon,58,64,58,80,65,80,405,fire,-
5,6,charizard,78,84,78,109,85,100,534,fire,flying
6,7,squirtle,44,48,65,50,64,43,314,water,-
7,8,wartortle,59,63,80,65,80,58,405,water,-
8,9,blastoise,79,83,100,85,105,78,530,water,-
9,10,caterpie,45,30,35,20,20,45,195,bug,-
10,11,metapod,50,20,55,25,25,30,205,bug,-
11,12,butterfree,60,45,50,90,80,70,395,bug,flying
12,13,weedle,40,35,30,20,20,50,195,bug,poison
13,14,kakuna,45,25,50,25,25,35,205,bug,poison
14,15,beedrill,65,90,40,45,80,75,395,bug,poison
15,16,pidgey,40,45,40,35,35,56,251,normal,flying
16,17,pidgeotto,63,60,55,50,50,71,349,normal,flying
17,18,pidgeot,83,80,75,70,70,101,479,normal,flying
18,19,rattata,30,56,35,25,35,72,253,normal,-
19,20,raticate,55,81,60,50,70,97,413,normal,-
20,21,spearow,40,60,30,31,31,70,262,normal,flying
21,22,fearow,65,90,65,61,61,100,442,normal,flying
22,23,ekans,35,60,44,40,54,55,288,poison,-
23,24,arbok,60,95,69,65,79,80,448,poison,-
24,25,pikachu,35,55,40,50,50,90,320,electric,-
25,26,raichu,60,90,55,90,80,110,485,electric,-
26,27,sandshrew,50,75,85,20,30,40,300,ground,-
27,28,sandslash,75,100,110,45,55,65,450,ground,-
28,29,nidoran-f,55,47,52,40,40,41,275,poison,-
29,30,nidorina,70,62,67,55,55,56,365,poison,-